/.idea
/.vscode
/__pycache__/
/migrations/
*.pyc
/store/migrations/
/store/migrations/__pycache__
/designers/migrations/
/designers/migrations/__pycache__
/customers/migrations/
/customers/migrations/__pycache__
/apis/migrations/
/apis/migrations/__pycache__
/seller/migrations/
/seller/migrations/__pycache__
bower_components/
node_modules/
db.sqlite3
/media/
/static/
thumbs.db
._.DS_Store