<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <title>Login Error</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'store/css/verification.css' %}">
</head>
<body>
    <center>
        <div id="window" align="">
            <img src="{% static 'store/img/verified.png' %}">

            <p>Congratulations! You have successfully verified with DesignerID <span> ### </span>.<br> Click continue to go to GharBanao Store.</p>
            <a id="continue" href="#">continue</a>

        </div>
    </center>

</body>
</html>