<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="title">
    <input type="text" name="content" >
    <input type="file" name="image">
    <button type="submit">Submit Blog</button>
</form>
<ul>
      {% for blog in blogList %}

       <div align="center" style="width:60%;border:solid;">
           <div align="right"> {{blog.title}}<br>
               {% if blog.image %}
                 <img src={{blog.image.url}} alt=" Hui" style="height:300px ;width:40%">
               {% endif %}
               <br>
               <br>
           {{blog.subject}}

           </div>

       </div>
    <br>
    <br>
       {% endfor %}
  </ul>
</body>
</html>