<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GharBanao - Interior design hub</title>
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'customers/css/info_page.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">
</head>


<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <center>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </center>
            </button>

            <a class="navbar-brand" href="{% url 'customers:index' %}"><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<!-- End of nav -->

<div class="container page" id="page">


    <!-- Page Starts-->
    <center>
        <div class="info-win">
            <h3>Enter OTP</h3>
            <h4>Please enter the one time password recieved on your e-mail id</h4>

            <form method="post" action="{% url 'customers:otp' %}">
                {% csrf_token %}
                <input type="text" name="otp">
                <button type="submit">Submit</button>
            </form>


            <!-- resend form -->
            <form action="{% url 'customers:resend' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit">Resend OTP</button>
            </form>



        </div>
    <center>
            <!-- Page Ends-->




            <!--footer-->
            <div class="container footer">
                <div class="row"><!-- row -->

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 tyc"><!-- widgets column center -->
                        <img class="img-responsive" src="{% static 'customers/img/logo_bw.png' %}">
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">


                        <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                            <h4 class="title-widget">COMPANY</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Designers</a></li>
                                <li><a href="#">Feedback</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>


                        </div><!-- widgets column left end -->

                        <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                            <h4 class="title-widget">LEGAL</h4>
                            <ul>
                                <li><a  href="#">Terms and Conditions</a></li>
                                <li><a  href="#">Privacy Policy</a></li>
                                <li><a  href="#">Payment Securities</a></li>
                                <li><a  href="#">Partners</a></li>
                            </ul>
                        </div><!-- widgets column left end -->



                        <div class="col-sm-4 col-xs-12 mycol list"><!-- widgets column left -->
                            <h4 class="title-widget">CONNECT</h4>
                            <div class="social-icons">
                                <a href="https://www.facebook.com/GharBanao/"><img src="{% static 'customers/img/fb.png' %}"></a>
                                <a href="https://twitter.com/GharBanao"><img src="{% static 'customers/img/tweet.png' %}"></a>
                                <a href="https://www.linkedin.com/company-beta/10652164/"><img src="{% static 'customers/img/in.png' %}""></a><br>
                            </div>
                        </div>
                    </div>
                </div>
                <center><p class="copyright"> Copyright © 2017 Tune Your Construction (P) Ltd.</p></center>
            </div>



</div>
<script src="{% static 'customers/js/jquery.min.js' %}"></script>
<script src="{% static 'customers/js/bootstrap.min.js' %}"></script>

</body>
</html>