<!DOCTYPE html>
{% load staticfiles %}
<html>

<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'customers/img/favicon.png' %}"/>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms & Conditions - GharBanao</title>
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'customers/css/bootstrap-theme.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'customers/css/template.css' %}">

</head>


<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                <center>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </center>
            </button>

            <a class="navbar-brand" href="{% url 'customers:index' %}"><img src="{% static 'customers/img/GharBanaoLogo_nav.png' %}"></a>
        </div>

    </div><!-- /.container-fluid -->
</nav>

<!-- End of nav -->

<div class="container page" id="page">


    <!-- Page Starts-->
    <center>
        <div align="left" style="max-width: 960px; margin: 10px 0px; padding: 30px; background: white; border-radius: 6px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)">

            <h2 style="color: #123c88"><b>Terms and Conditions<b></h2>
            <h5>These terms and conditions (collectively, hereinafter referred to as the "<b>Terms</b>") govern your ("<b>User</b>") access to and use of the website, www.gharbano.co("<b>Website</b>"). The Website is owned, managed and operated by Tune Your Construction Pvt. Ltd. ("<b>GharBanao</b>")</h5>
        </div>
    </center>
            <!-- Page Ends-->




            <!--footer-->
            <div class="container footer">
                <div class="row"><!-- row -->

                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 tyc"><!-- widgets column center -->
                        <img class="img-responsive" src="{% static 'customers/img/logo_bw.png' %}">
                    </div>

                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">


                        <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                            <h4 class="title-widget">COMPANY</h4>
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Designers</a></li>
                                <li><a href="#">Feedback</a></li>
                                <li><a href="#">Support</a></li>
                            </ul>


                        </div><!-- widgets column left end -->

                        <div class="col-sm-4 col-xs-6 mycol list"><!-- widgets column left -->

                            <h4 class="title-widget">LEGAL</h4>
                            <ul>
                                <li><a  href="#">Terms and Conditions</a></li>
                                <li><a  href="#">Privacy Policy</a></li>
                                <li><a  href="#">Payment Securities</a></li>
                                <li><a  href="#">Partners</a></li>
                            </ul>
                        </div><!-- widgets column left end -->



                        <div class="col-sm-4 col-xs-12 mycol list"><!-- widgets column left -->
                            <h4 class="title-widget">CONNECT</h4>
                            <div class="social-icons">
                                <a href="https://www.facebook.com/GharBanao/"><img src="{% static 'customers/img/fb.png' %}"></a>
                                <a href="https://twitter.com/GharBanao"><img src="{% static 'customers/img/tweet.png' %}"></a>
                                <a href="https://www.linkedin.com/company-beta/10652164/"><img src="{% static 'customers/img/in.png' %}""></a><br>
                            </div>
                        </div>
                    </div>
                </div>
                <center><p class="copyright"> Copyright © 2017 Tune Your Construction (P) Ltd.</p></center>
            </div>



</div>
<script src="{% static 'customers/js/jquery.min.js' %}"></script>
<script src="{% static 'customers/js/bootstrap.min.js' %}"></script>
<script>
$(document).mouseup(function(e)
{
    var container = $("#login");


    if (!container.is(e.target) && container.has(e.target).length === 0)
    {
        container.removeClass("in");
    }
});
</script>

<script>
$(document).mouseup(function(e)
{
    var container1 = $(".navbar-collapse");
    var container2 = $(".navbar-toggle");

    if (!container2.is(e.target) && container2.has(e.target).length === 0)
        {    if (!container1.is(e.target) && container1.has(e.target).length === 0)
            {
                container1.removeClass("in");
            }
        }
});
</script>

</body>
</html>